In [1]:
#koneksi
import mysql.connector

#conec dari server
conn = mysql.connector.connect(host = "localhost", user = "root", password = "")

print(conn)

#disconec dr server
conn.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000026ECDEAE760>

In [2]:
#create database
import mysql.connector

dataBase=mysql.connector.connect(host = "localhost", user = "root", password = "")

#prepar obj
cursorObj=dataBase.cursor()

#create db
cursorObj.execute("CREATE DATABASE D3_TI_2023")

In [4]:
#Tabel mahasiswa
import mysql.connector

dataBase = mysql.connector.connect(host = "localhost", user = "root", password = "", database="D3_TI_2023")

#preparing a cursor object
cursorObj = dataBase.cursor()

#create table
mhsRecord = """CREATE TABLE tabel_mahasiswa(NIM VARCHAR(10)NOT NULL PRIMARY KEY, NAMA VARCHAR(30) NOT NULL, 
                ALAMAT VARCHAR(255), MATKUL_YANG_DIIKUTI VARCHAR(10) NOT NULL, PRODI VARCHAR(30) NOT NULL)"""

#table create
cursorObj.execute(mhsRecord)

#disconec
dataBase.close()

In [5]:
#Tabel dosen
import mysql.connector

dataBase = mysql.connector.connect(host = "localhost", user = "root", password = "", database="D3_TI_2023")

#preparing a cursor object
cursorObj = dataBase.cursor()

#create table
dosenRecord = """CREATE TABLE tabel_dosen(NIP VARCHAR(20)NOT NULL PRIMARY KEY, NAMA VARCHAR(50) NOT NULL, 
                MATKUL_YG_DIAJAR VARCHAR(50) NOT NULL, GELAR_AKADEMIK VARCHAR(10))"""

#table create
cursorObj.execute(dosenRecord)

#disconec
dataBase.close()

In [6]:
#Tabel mata kuliah
import mysql.connector

dataBase = mysql.connector.connect(host = "localhost", user = "root", password = "", database="D3_TI_2023")

#preparing a cursor object
cursorObj = dataBase.cursor()

#create table
mkRecord = """CREATE TABLE tabel_matkul(kode_MK VARCHAR(10)NOT NULL PRIMARY KEY, nama_MK VARCHAR(50) NOT NULL, 
                WAKTU DATE, RUANG VARCHAR(10), SEMESTER VARCHAR(10))"""

#table create
cursorObj.execute(mkRecord)

#disconec
dataBase.close()

In [9]:
#insert data mahasiswa
import mysql.connector

dataBase = mysql.connector.connect(host = 'localhost', user = "root", password = "", database="D3_TI_2023")

cursorObj=dataBase.cursor()

sql="INSERT INTO tabel_mahasiswa(NIM, NAMA, ALAMAT, MATKUL_YANG_DIIKUTI, PRODI) VALUES(%s,%s,%s,%s,%s)"
val =[("V392222","Dharma","Jl. Hayam Wuruk No.06","Python","TI"),
       ("V392233","Nanda","Jl. Hasanudin No.12","Basis Data","TI"),
       ("V392244","Akseyna","Jl. Kusuma No.22","Kewirausahaan","TI"),
       ("V392255","Kembang","Jl. Pantura No.16","OOP","TI"),
       ("V392266","Amalya","Jl. Pondok Genggong No.07","Statistika","TI")]

cursorObj.executemany(sql, val)
dataBase.commit()

dataBase.close()

In [14]:
#insert data dosen
import mysql.connector

dataBase = mysql.connector.connect(host = 'localhost', user = "root", password = "", database="D3_TI_2023")

cursorObj=dataBase.cursor()

sql="INSERT INTO tabel_dosen(NIP, NAMA, MATKUL_YG_DIAJAR, GELAR_AKADEMIK) VALUES(%s,%s,%s,%s)"
val=[("112909","Anggraini S.","Python","S.Kom, M.Kom"),
       ("112912","Haryono M.","Basis Data","S.ST, M.T"),
       ("112907","Ginayanti A.","Kewirausahaan","S.Kom, M.Kom"),
       ("1129001","Hakim R.","OOP","S.ST, M.T"),
       ("112913","Galuh P.","Statistika","S.ST, M.T")]

cursorObj.executemany(sql, val)
dataBase.commit()

dataBase.close()

In [17]:
#insert data matkul
import mysql.connector


dataBase = mysql.connector.connect(host = 'localhost', user = "root", password = "", database="D3_TI_2023")

cursorObj=dataBase.cursor()


sql="INSERT INTO tabel_matkul(kode_MK, nama_MK, WAKTU, RUANG, SEMESTER) VALUES(%s,%s,%s,%s,%s)"
val=[("1501","Statistika","2022-2-3","Mikro","Genap"),
       ("1502","OOP","2022-3-15","L2R2","Genap"),
       ("1503","Kewirausahaan","2022-3-12","Mikrokontroler","Genap"),
       ("1504","Basis Data","2022-3-6","L2R1","Genap"),
       ("1505","Python","2022-3-7","L1R1 ","Genap")]

cursorObj.executemany(sql, val)
dataBase.commit()

dataBase.close()

In [19]:
#menampilkan data
import mysql.connector

dataBase = mysql.connector.connect(host = 'localhost', user = "root", password = "", database="D3_TI_2023") #membuka database

#preparing a cursor object
cursorObj = dataBase.cursor()

sql = "SELECT NAMA, MATKUL_YANG_DIIKUTI FROM tabel_mahasiswa"

cursorObj.execute (sql)

myresult = cursorObj.fetchall()

for x in myresult:
    print(x)
    
dataBase.close()

('Dharma', 'Python')
('Nanda', 'Basis Data')
('Akseyna', 'Kewirausah')
('Kembang', 'OOP')
('Amalya', 'Statistika')